@import '../../../../styles/colors.scss';

.avatar-container {
  margin-bottom: 36px;
}

ul {
  margin-bottom: 16px;
}

i {
  margin-bottom: 4px;
}

section {
  margin-bottom: 32px;
}

.section--i {
  font-size: 52px;
  color: $color-brand-dark;
}


