<app-avatar [imgSrc]="'/assets/images/airton.png'"></app-avatar>

<h1>About</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae urna a
  odio lobortis laoreet non vitae orci. Integer ut est at purus iaculis porttitor ut eu justo.
  Morbi vitae ullamcorper justo. Donec at ultrices ante. Suspendisse at semper ex, vel dictum urna.
  Ut eu urna mollis ante congue tristique quis id mauris. Pellentesque a convallis enim, id varius sem.
  Mauris faucibus felis viverra cursus tempus.
</p>

<p>
  Maecenas non velit justo. Aenean at porttitor magna, eu facilisis justo.
  Donec ornare risus eu est porttitor efficitur.
  Phasellus at libero eu tellus tincidunt finibus.
   Vivamus lacinia ante et lorem egestas suscipit.
   Etiam aliquet dignissim leo, et imperdiet augue.
   In facilisis, lectus vel dapibus pellentesque, urna odio auctor nisl,
   et pretium erat lacus ut tellus. Integer sit amet lorem id lacus gravida placerat sodales id mi.
   Maecenas euismod dui sit amet augue imperdiet mollis sit amet a turpis.
   Etiam ac enim vehicula leo suscipit tincidunt at vitae arcu.
   Pellentesque tristique sit amet magna eu porta.
   Mauris rhoncus ante at imperdiet dapibus. Morbi enim nisi, pulvinar non nisi vitae,
   mattis iaculis erat. Morbi dapibus mattis fringilla. Morbi posuere aliquet massa non fringilla.
    Praesent tempus, eros a pulvinar facilisis, quam orci dignissim felis, eget varius augue nisl a tortor.
</p>
