<h1 class="page-title" [translate]="'MENU.ABOUT'"></h1>

<div class="avatar-container">
  <app-avatar [imgSrc]="'/assets/images/airton.png'"></app-avatar>
</div>

<div class="flex-container">

  <section class="flex-item">
    <i aria-hidden="true" class="fas fa-id-badge section--i"></i>
    <h2 [translate]="'ABOUT.HOW_I_DO.TITLE'">How I do</h2>
    <p [translate]="'ABOUT.HOW_I_DO.TEXT'">
        I'm a fullstack developer/software engineer with 8 years experience, graduated in Information Systems and MBA in Software Engineer in FIAP.
    </p>
  </section>

  <section class="flex-item">
    <i aria-hidden="true" class="fas fa-laptop section--i"></i>
    <h2 [translate]="'ABOUT.TECH.TITLE'">Technologies I most usually use</h2>

    <ul>
      <li>C#</li>
      <li>Javascript</li>
      <li>NodeJS</li>
      <li>Angular</li>
      <li>SQL Server</li>
      <li>Mongo DB</li>
    </ul>

    <button (click)="viewMySkillsClick()" [translate]="'ABOUT.TECH.BUTTON'">View my skills</button>
  </section>

  <section class="flex-item">
    <i aria-hidden="true" class="fas fa-certificate section--i"></i>
    <h2 [translate]="'ABOUT.EXPERIENCE.TITLE'" >Experience</h2>
    <article [innerHTML]="'ABOUT.EXPERIENCE.TEXT' | translate"></article>
  </section>

  <section class="flex-item">
    <i aria-hidden="true" class="fas fa-heart section--i"></i>
    <h2 [translate]="'ABOUT.LOVE.TITLE'">What I love</h2>
    <p [translate]="'ABOUT.LOVE.TEXT'">
      I like new technologies and programming. I love web environment, I think it'll not die so soon.
    </p>
  </section>

  <section class="flex-item">
      <i aria-hidden="true" class="fas fa-compass section--i"></i>
    <h2 [translate]="'ABOUT.LIVE.TITLE'">Where I live</h2>
    <p [translate]="'ABOUT.LIVE.TEXT'">
        I live in city called Mogi das Cruzes, São Paulo state - Brazil. I was working practically all my professional life in São Paulo (capitol).
    </p>
  </section>

  <section class="flex-item">
      <i aria-hidden="true" class="fas fa-clipboard section--i"></i>
    <h2 [translate]="'ABOUT.PROJECTS.TITLE'">Last projects</h2>
    <ul>
      <li>Itaú - Mobile Pessoa Física - Seguros Dashboard</li>
      <li>Itaú - Mobile Pessoa Física - Seguro de Vida</li>
      <li>Itaú - Mobile Pessoa Física - Poupança</li>
      <li>Itaú - Interno - Custos</li>
      <li>BTG Pactual - Extranet</li>
      <li>Portal TradeMarketing - BRF</li>
      <li>GIER - GIER Online</li>
    </ul>
  </section>
</div>



