@import '../../../styles/colors.scss';
@import '../../../styles/font-family.scss';

:host {
  nav {

  }

  ul {
    display: flex;
    align-items: flex-end;
  }

  li {
    font-family: $typo-roboto-regular;

    list-style: none;
    margin-right: 16px;

    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: 0px;
    }

    &.menu-item--active {
      border-bottom: 2px solid $color-brand;
    }

  }

  a {
    text-decoration: none;
    text-transform: lowercase;

    &:hover {
      color: $color-brand;
    }
  }

}
