$typo-roboto-regular: 'Roboto Regular';
$typo-roboto-light: 'Roboto Light';
$typo-roboto-bold: 'Roboto Bold';

$typo-opensans-regular: 'OpenSans Regular';
$typo-opensans-light: 'OpenSans Light';
$typo-opensans-bold: 'OpenSans Bold';
