@import './colors.scss';
@import './font-family.scss';
@import './font-size.scss';
@import './variables.scss';

* {
  word-wrap: break-word;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: $color-white;
  color: $color-black;
  font-family: $typo-opensans-regular;
  font-size: 1rem;

  display: flex;

  a {
    color: $color-black;
  }
}

.cover {
  background-image: linear-gradient(rgba(23, 22, 23, 0.8), rgba(23, 22, 23, 0.8)), url('/assets/images/bg.jpg');
  background-size: cover;
  background-attachment: scroll;
  color: $color-white;

  main {
    margin-top: auto;
    margin-bottom: auto;
  }

  a {
    color: $color-white;
  }
}

.input-group {
  margin-bottom: 8px;

  input, textarea {
    display: block;
    width: 100%;
  }
}

