@import './colors.scss';
@import './font-family.scss';
@import './variables.scss';

body {
  width: 100vw;
  min-height: 100vh;
  background-color: $color-white;
  color: $color-black;
  font-family: $typo-roboto-regular;

  a {
    color: $color-black;
  }
}

.cover {
  background-image: linear-gradient(rgba(23, 22, 23, 0.8), rgba(23, 22, 23, 0.8)), url('/assets/images/bg.jpg');
  background-size: cover;
  background-attachment: scroll;
  color: $color-white;

  a {
    color: $color-white;
  }
}

main {
  padding: 32px 16px 16px 16px;
}
