<h2>Contact me</h2>

<section>

  <form [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">

    <div class="input-group">
      <label for="name" [translate]="'CONTACT.NAME'" required>Name</label>
      <input id="name" type="text" maxlength="30" formControlName="name" required />

      <app-input-error [display]="isValid('name')" message="{{ 'CONTACT.NAME_ERROR' | translate }}"></app-input-error>
    </div>

    <div class="input-group">
      <label for="email" required>E-Mail</label>
      <input id="email" type="email" maxlength="70" formControlName="email" required />
      <app-input-error [display]="isValid('email')" message="{{ 'CONTACT.EMAIL_ERROR' | translate }}"></app-input-error>
    </div>

    <div class="input-group">
      <label for="subject" [translate]="'CONTACT.SUBJECT'" required>Subject</label>
      <input id="subject" type="text" maxlength="30" formControlName="subject" required />
      <app-input-error [display]="isValid('subject')" message="{{ 'CONTACT.SUBJECT_ERROR' | translate }}"></app-input-error>
    </div>

    <div class="input-group">
      <label for="message" [translate]="'CONTACT.MESSAGE'" required>Message</label>
      <textarea id="message"  maxlength="150" formControlName="message" required></textarea>
      <app-input-error [display]="isValid('message')" message="{{ 'CONTACT.MESSAGE_ERROR' | translate }}"></app-input-error>
    </div>

    <div class="buttons">
      <button type="submit" [translate]="'CONTACT.SEND'">Send</button>
      <button type="button" [translate]="'CONTACT.CLEAR'" (click)="onClearClick()">Clear</button>
    </div>
  </form>

</section>

<section id="social" class="social">
  <a class="fab fa-github" href="https://github.com/asponda" title="github" aria-label="github"></a>
  <a class="fab fa-linkedin" href="https://www.linkedin.com/in/airtonsponda/" title="linkedin" aria-label="linkedin"></a>
  <a class="fas fa-envelope" href="mailto:airton.sponda@gmail.com" title="email" aria-label="email"></a>
</section>
