main {
  padding: 32px 16px 16px 16px;
  min-height: calc(100vh - 196px);
}

header {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  height: 66px;

  @media (max-width: '414px') {
    flex-direction: column;
  }
}

footer {
  padding: 0px 16px;
  height: 66px;
  display: flex;
  align-items: center;

  .footer--content {

  }

  .footer--language {
    margin-left: auto;
  }
}

.logo {
  display: flex;
  margin-top: 8px;
}

.menu {
  margin-left: auto;

  @media (max-width: '414px') {
    margin-left: 0px;
    margin-top: 16px;
  }
}
