<header>
  <div class="logo">
    <app-logo></app-logo>
  </div>

  <div class="menu">

    <app-menu [menuItens]="menuItens" [theme]="menuTheme"></app-menu>

  </div>

  <div class="language">
    <i aria-hidden="true" class="fas fa-globe language--icon"></i>
    <button (click)="switchLanguage('en')" aria-label="english" [ngClass]="{'language--active': language === 'en'}">en</button>
    <button (click)="switchLanguage('pt')" aria-label="português" [ngClass]="{'language--active': language === 'pt'}">pt</button>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="footer--content">
    Copyright  2018, Airton Sponda
  </div>
</footer>
