header {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  min-height: 66px;

  @media (max-width: '414px') {
    flex-direction: column;
  }
}

.logo {
  display: flex;
  margin-top: 8px;
}

.menu {
  margin-left: auto;

  @media (max-width: '414px') {
    margin-left: 0px;
    margin-top: 16px;
  }
}
